{% extends "base.html" %}

{% block content %}
<h1>Your comment</h1>
<form method="post" action="/comments">
    <div class="input-container">
        <textarea id="multiline-input" name="txt" type="text" rows="2"></textarea>
        <button id="save" type="Submit">Send</button>
    </div>
</form>
<h1>Previous comments</h1>

    <table class="data-table">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Text</th>
                <th>ChatGPT</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in comments %}
                <tr>
                    <td>
                        {{comment.timestamp}}
                    </td>
                    <td>
                        {{comment.comment}}
                    </td>
                     <td>
                        {{comment.chatgpt}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>


{% endblock %}